#if 0
#	define IS_9C_RUN
#else
#	define IS_12C_RUN
#endif

GLOBAL() {
#ifdef IS_9C_RUN
	-f caldir/dbg/main_0193_0202.root
	--sci21=2750,3550
	--sci22=3150,5000
	--npts=3000
#else
	-f caldir/tof_cal/good/dbg/expert_trigger_with_target_4.root
	--sci21=2750,3550
	--sci22=2350,3250
	--npts=1000
#endif
	--save=!nil
	--nodraw
}

SECTION(f4) {
    -i4
    --bins-x=150,-30,30
    --bins-y=150,-30,30
}
SECTION(f5) {
    -i5
    --bins-x=150,-30,30
    --bins-y=150,-30,30
}
SECTION(f6) {
    -i6
    --bins-x=150,-30,30
    --bins-y=150,-30,30
}
SECTION(f7) {
    -i7
    --bins-x=150,-30,30
    --bins-y=150,-30,30
}
