build*
includes/build*
includes/util/build*
includes/util/.*

includes/test*
includes/makeme*
lib*
*.root
*.lmd
*.pcm
.clangd
includes/dict
rootfiles
*.png
params/justus_tpc.json
mapdir
caldir
hitdir
merged
stash
info.yaml
*.exe
exec/*.cmd
log.txt

quick/run
quick/autosave
quick/map/*
!quick/map/*/
!quick/map/*.cc
!quick/map/cfg/**/*.cfg
quick/cal/*
!quick/cal/*/
!quick/cal/*.cc
!quick/cal/cfg/**/*.cfg
quick/hit/*
!quick/hit/*/
!quick/hit/*.cc
!quick/hit/cfg/**/*.cfg

sim/build

exec/*.txt
autosave
randomstuff
