build*
includes/build*
includes/test*
includes/makeme*
lib*
*.root
*.lmd
*.pcm
.clangd
cal
map
includes/dict
rootfiles
*.png
params/justus_tpc.json
mapdir
caldir
merged
stash

quick/*
!quick/*.cc
!quick/Makefile
!quick/make_macro.bash
