build*
includes/build*
includes/util/build*
includes/util/.*

includes/test*
includes/makeme*
lib*
*.root
*.lmd
*.pcm
.clangd
includes/dict
rootfiles
*.png
params/justus_tpc.json
mapdir
caldir
hitdir
merged
stash
info.yaml
*.exe
exec/*.cmd
log.txt

quick/run
quick/autosave
quick/map/*
!quick/map/*.cc
quick/cal/*
!quick/cal/*.cc
quick/hit/*
!quick/hit/*.cc

exec/*.txt
autosave
randomstuff
