//#define IS_CENTRAL 

#ifdef IS_CENTRAL
#	define HITTYPE central
#else
#	define HITTYPE side
#endif

GLOBAL() {
	-f caldir/merged_9C.root
	--charge=2
	-d0.05
	--bins=8
	--mult-cut=2
	--sci22=750,1100
	--poly=4
	-o png
	-t gauss_fit_only
#ifdef IS_CENTRAL
	--show-old=2
#else
	--foot-binning=!100,40,300 // will override all the other ones
#endif
	--hit-type=HITTYPE
}

================= FOOT SPECIFIC =================

SECTION(f0) {
	--foot-id=0 --fit=@
	--foot-binning=50,100,200
}
SECTION(f1) {
	--foot-id=1 --fit=@
	--foot-binning=80,65,200
}
SECTION(f2) {
	--foot-id=2 --fit=@
	--foot-binning=80,65,200
}
SECTION(f3) {
	--foot-id=3 --fit=@
	--foot-binning=80,65,200
	--test
}
SECTION(f4) {
	--foot-id=4 --fit=@
	--foot-binning=80,120,220
}
SECTION(f5) {
	--foot-id=5 --fit=@
	--foot-binning=60,65,140
}
SECTION(f6) {
	--foot-id=6 --fit=@
	--foot-binning=60,65,140
}
SECTION(f7) {
	--foot-id=7 --fit=@
	--foot-binning=60,65,200
}
