#if 1
#define DO_QDC
#else
#undef DO_QDC
#endif

GLOBAL() {
	--niter=3
	--sratio=1.7
	--qhist-range=0:150,2200,3800;1:150,2100,3300;2:150,1300,2000
	-opng,root
#ifdef DO_QDC
	--charge
#endif
}

SECTION(tof_21_22) {
	--sci=0,1
	--!no-charge
	-f
	caldir/tof_cal/good/expert_trigger_frsdet_0001.root,     // only detectors
	caldir/tof_cal/good/expert_trigger_with_target_1_2.root, // detectors + primary target
	caldir/tof_cal/good/expert_trigger_with_target_3.root    // detectors + primary target + s1 deg

	--dt-cut=240,44.5,46
}

SECTION(tof_22_31) {
	--sci=1,2

	-f
	caldir/tof_cal/good/expert_trigger_frsdet_0001.root,     // only detectors
	caldir/tof_cal/good/expert_trigger_with_target_1_2.root, // detectors + primary target
	caldir/tof_cal/good/expert_trigger_with_target_3.root,   // detectors + primary target + s1 deg
	caldir/tof_cal/good/expert_trigger_with_target_4.root    // detectors + primary target + s1 deg + EXPERT
	
	--q-exclude=0:2
	--dt-cut=300,-63.0,-59.0
}

SECTION(tof_31_41) {
	--sci=2,3
	--sratio=!1.2
	
	-f
	caldir/tof_cal/good/expert_trigger_frsdet_0001.root,     // only detectors
	caldir/tof_cal/good/expert_trigger_with_target_1_2.root, // detectors + primary target
	caldir/tof_cal/good/expert_trigger_with_target_3.root,   // detectors + primary target + s1 deg
	caldir/tof_cal/good/expert_trigger_with_target_4.root    // detectors + primary target + s1 deg + EXPERT

	--dt-cut=220,-20.0,-15.5
}
