//#define USE_TOF_FILE

GLOBAL() {
#ifdef USE_TOF_FILE
    -f caldir/tof_cal/good/expert_trigger_with_target_4.root 
    --sci21=2650,3550
    --sci22=2300,3250
#else
    -f caldir/main_0193_0202.root
    --sci21=2750,3600
    --sci22=3180,5000
#endif
    --ref=21:1,1;23:1,1
    -q 5.2,6.8
    --npts=3000
    --save=png
}

SECTION(f0) {
    -i0
    --bins-x=150,-8,8
    --bins-y=150,-8,8
}
SECTION(f1) {
    -i1
    --bins-x=150,-9,9
    --bins-y=150,-9,9
}
SECTION(f2) {
    -i2
    --bins-x=150,-8,8
    --bins-y=150,-8,8
}
SECTION(f3) {
    -i3
    --bins-x=150,-9,9
    --bins-y=150,-9,9
}
SECTION(f3) {
    -i3
    --bins-x=150,-9,9
    --bins-y=150,-9,9
}
